
@media print {
    *{
        font-family: sans-serif;
        align-items: left;
    }
    img{
        display: block;
    }
    button{
        display: none;
    }
    header{
        display: none;
    }
    title{
        display: none;
    }
    .pradinis{
        display: none;
    }
    body {
        font-family: 'serif';
        margin: 30mm;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 15px;
    }
    
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
}